*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}

body.on{
    background: radial-gradient(#555, #111);
}

.wire{
    position: absolute;
    left: calc(50% - 3px);
    width: 4px;
    height: 60vh;
    background-color: #000;
    bottom: 50%;
    z-index: 1;
}
.wire .bulb{
    position: relative;
    width: px;
    height: 750px;
    background: transparent;
    z-index: 2;
}

.bulb i {
    font-size: 4rem;
    color: #555;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}


.switch{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 10px;
    height:10px;
    margin-left: 600px;
    margin-bottom: 550px;
    padding-left: 50px;
    background:#ccc;
    border-radius: 70px;
    align-items: center;
    box-shadow: gray 0px 10px 15px -5px;
    cursor: pointer;
}

.switch i{
    font-size: 1.2rem;
}

.on .bulb i{
    color: #ffd700;
}

.on .switch{
    background: #4caf50;
}